<h2 style="text-align: center">マイプロフィール</h2>
<div class="container user-profile">
    <h2><%= @user.nickname %></h1>
    <% if @user.remote_avatar != nil %>
        <p><%= link_to image_tag(@user.remote_avatar , alt: @user.nickname), user_path(@user) %></p>
    <% else %>
        <p><%= link_to image_tag(@user.avatar.url , alt: @user.nickname), user_path(@user) %></p>
    <% end %>
</div><br/>
<div class="container user-profile-projects">
    <h4>自分のプロジェクト</h4>
    <% if @projects.any? %>
    <%= render 'projects/list' , projects: @projects %>
    <% else %>
    <p>現在、自分のプロジェクトはありません。</p>
    <% end %>
    
    
    <h4>参加しているプロジェクト</h4>
    <% if @joinProjects.any? %>
    <%= render 'projects/list', projects: @joinProjects %>
    <% else %>
    <p>現在、参加しているプロジェクトはありません。</p>
    <% end %>
    
</div>
