<div class="container">
    <div class="row">
        <div class="col-md-3 user-profile">
            <h4><%= @user.nickname %></h4>
            <% if @user.remote_avatar != nil %>
                <p><%= link_to image_tag(@user.remote_avatar , alt: @user.nickname), user_path(@user) %></p>
            <% else %>
                <p><%= link_to image_tag(@user.avatar.url , alt: @user.nickname), user_path(@user) %></p>
            <% end %>
            <p>自分のプロジェクト  <%= @joinProjects.length %>個</p>
            <p>参加しているプロジェクト  <%= @projects.length %>個</p>
            
        </div>
        <div class="col-md-9 user-profile-projects">
            <h4>自分のプロジェクト</h4>
            <% if @projects.any? %>
            <%= render 'projects/list_users' , projects: @projects %>
            <% else %>
            <p>現在、自分のプロジェクトはありません。</p>
            <% end %>
            
            
            <h4>参加しているプロジェクト</h4>
            <% if @joinProjects.any? %>
            <%= render 'projects/list_users', projects: @joinProjects %>
            <% else %>
            <p>現在、参加しているプロジェクトはありません。</p>
            <% end %>
        </div>
    </div>
</div>

