<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <%  %>
    </div>
    <div class= "col-sm-8">
      <div class="title">
        <h2><%= @conference.title %></h2>
      </div>
      <div>
        <h3>内容</h3>
        <%== @conference.description %>
      </div>
    
      <section class="comment_form">
          <%= render 'shared/opinion_form' %>
      </section>
      <h3>コメント一覧</h3>
        <% if @conference.opinions.present? %>
        <% @conference.opinions.order("created_at desc").each do |opinion| %>
        <p><%= opinion.created_at.to_s(:default) %></p>
      <div class="panel panel-default">
        <div class="panel-heading">
            <%= image_tag(opinion.avatar , class: "icon_image", alt: opinion.opinion_user) %>
            <p><%= opinion.opinion_user %></p>
        </div>
        <div class="panel-body">
            <p><%= simple_format opinion.body %></p>
        </div>
      </div>
      <% end %>
      <% end %>
      
      <div class="project-button">
        <% if current_user == @conference.user %>
            <%= link_to "座談会にいく", project_conferences_path(@project, @conferece), class: "btn btn-large btn-primary" %>
            <%= link_to "この会議を削除", project_conferences_path(@project, @conferece), method: :delete, class: "btn btn-large btn-danger", data: { confirm: "You sure?" } %>
            <%= link_to "この会議の編集", edit_project_conference_path(@conferece), class: "btn btn-large btn-danger" %>
        <% end %>
      </div>
      
    </div>  
    <div class="col-sm-2">
      
    </div>
  </div>
</div>