<h1 style="text-align: center;">プロジェクトを作成する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 "form-group"">
    <%= form_for(@project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :category, "カテゴリー" %>
      <%= f.select :category,
              ["レディース","メンズ","キッズ","デニム","小物","財布","雑貨","時計","アンダーウェア","アクセサリー","帽子","コスメ","水着","着物/浴衣","マタニティー/ベビー","その他"], { include_blank: '選択してください'} , class: "form-control" %></br>
      <%= f.label :brand_name, "ブランド名" %>
      <%= f.text_field :brand_name, class: "form-control" %><br/>
      
      <%= f.label :project_name, "プロジェクト名" %>
      <%= f.text_field :project_name, :placeholder => "(例) 新感覚デニムを一からつくる！" , class: "form-control" %><br/>
      
      <%= f.label :main_image, "メイン画像" %>
      <%= f.file_field :main_image, class: "form-control" %><br/>

      <%= f.label :youtube_url, "Youtube動画 URL" %>
      <%= f.text_field :youtube_url, :placeholder => "https://www.youtube.com/watch?v=xxxxxxxxxxx" ,class: "form-control" %></br>
      
      <%= f.label :description, "プロジェクト詳細",  class: 'control-label' %>
      <%= f.cktext_area :description, class: 'form-control' %><br/>
      <%= f.submit "プロジェクトを投稿する！", class: "btn btn-large btn-primary form-control" %>
      
    <% end %>
  </div>
</div>