<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <% if @project.user != nil %>
      <h3><%= @project.user.nickname  %></h3>
      <%= image_tag(@project.user.avatar.url , alt: @project.user.nickname) %>
      <% end %>
    </div>
    <div class= "col-sm-7">
      <div class="title">
        <h2><%= @project.project_name %></h2>
        <%= render 'join_form' if logged_in? %>
      </div>
      <div class= "youtube-container">
        <%= embed(@project.youtube_url) %>
      </div>
      <div>
        <h3>どんなプロジェクトなの？</h3>
        <%== @project.description %>
      </div>
    
      <section class="comment_form">
          <%= render 'shared/comment_form' %>
      </section>
      <h3>コメント一覧</h3>
        <% if @project.comments.present? %>
        <% @project.comments.order("created_at desc").each do |comment| %>
        <p><%= comment.created_at.to_s(:default) %></p>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= image_tag(comment.avatar , class: "icon_image", alt: comment.commenter) %>
            <p><%= comment.commenter %></p>
          </div>
          <div class="panel-body">
            <p><%= simple_format comment.body %></p>
          </div>
        </div>
       <% end %>
       <% end %>
      <div class="project-button">
        <% if current_user == @project.user %>
            <%= link_to "プロジェクトを削除", @project, method: :delete, class: "btn btn-large btn-danger", data: { confirm: "You sure?" } %>
            <%= link_to "プロジェクトの編集", edit_project_path(@project), class: "btn btn-large btn-default" %>
        <% end %>
      </div>
    </div>  
    
    <div class="col-sm-3">
      <% if current_user == @project.user %>
      <div>
          <%= link_to "座談会を開催する！" , new_project_conference_path(@project),class: "btn btn-large btn-primary" %>
      </div><br/>
      <% end %>
      
      <% if current_user != nil %>
      <h4>開かれてる座談会</h4>
      <div class="panel panel-info">
        <div class="panel-heading">
          <% if @project.conferences.present? %>
            <h5>この座談会にいく！</h5>
        </div>
        <div class="panel-body">
            <% @project.conferences.order("created_at desc").each do |conference| %>
              <p><%= conference.created_at.to_s(:default) %></p>
              <p><%= link_to conference.title, project_conference_path(@project, conference) %></p>
        </div>
      </div>
            <% end %>
          <% else %>
            <p>現在ひらかれている座談会はありません</p>
          <% end %>
 
     <% end %>
    </div>
  </div>
</div>

    
  