<!DOCTYPE html>
<html>
<head>
  <title>Zadankai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "/javascripts/flowplayer.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render partial: "layouts/header" %>
  <div class="container">
    <% flash.each do |message_type, message| %> <!-- ここから -->
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %> <!-- ここまで追加 -->
    <%= yield %>
  </div>
  <%= render partial: "layouts/footer" %>

</body>
</html>
