<!DOCTYPE html>
<html>
<head>
  <% if @project_title.present? %>
   <title><%= "#{@project_title} - Zadankai" %></title>
  <% elsif @userName.present? %>
   <title><%= "#{@userName} - Zadankai" %></title>
  <% elsif @conference_title.present? %>
   <title><%= "#{@conference_title} - Zadankai" %></title>
  <% else %>
  <title><%= 'Zadankai' %></title>
  <% end %>
  <% #meta information %>
  <%= yield :head %>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render partial: "layouts/header" %>
  <div class="contariner">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %> 
    <%= yield %>
  </div>
  <%= render partial: "layouts/footer" %>

</body>
</html>
